<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<script src="Scripts/angular.js"></script>
	<script src="basic03_Controller.js"></script>

	<script>
		angular.module("main", []).controller("simpleController", function ($scope) {
			// Initialize the model variables
			$scope.firstName = "John";
			$scope.lastName = "Doe";

			// Define utility functions
			$scope.getFullName = function () {
				return $scope.firstName + " " + $scope.lastName;
			};

			$scope.customers = [{ name: "", city: "" }, { name: "", city: "" }];
		}).controller("simpleController2", simpleController2);
	</script>
</head>
<body ng-app="main">
  <div ng-controller="simpleController">
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <strong>Full name:</strong> {{getFullName()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName"/></label>
  </div><br />
	<div ng-controller="simpleController2">
		<strong>First name:</strong> {{firstName}}<br />
		<strong>Last name:</strong> <span ng-bind="lastName"></span><br />
		<strong>Full name:</strong> {{getFullName()}}<br />
		<br />
		<label>Set the first name: <input type="text" ng-model="firstName" /></label><br />
		<label>Set the last name: <input type="text" ng-model="lastName" /></label>
	</div>
</body>
</html>
