<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.4.2" targetFramework="net451" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.0.1" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.6" targetFramework="net451" />
  <package id="underscore.js" version="1.8.2" targetFramework="net451" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.5.6" targetFramework="net451" />
</packages>