<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<script src="Scripts/angular.js"></script>
</head>
<body ng-app>
	<form action="login" name="loginForm" novalidate>
		<p>ログインID</p>
		<input type="text" name="userLoginId" ng-model="user.loginId" minlength="4" maxlength="8" pattern="/^[a-zA-Z0-9]+$" required />
		<div ng-messages="loginForm.userLoginId.$error">
			<span ng-message="minlength">４文字以下です。</span>
			<span ng-message="maxlength">８文字以上です。</span>
			<span ng-message="pattern">半角英数字です。</span>
			<div ng-if="showRequiredError">
				<span ng-message="required">必須です。</span>
			</div>
		</div>
		<br />
		<p>パスワード</p>
		<input type="password" name="userPassword" ng-model="user.password" pattern="/^[a-zA-Z0-9]{4,8}$" required />
		<span ng-show="loginForm.userPassword.$error.pattern">半角英数字です。</span>
		<span ng-show="loginForm.userPassword.$error.required">必須です。</span>
		<br />
		<input type="submit" value="ログイン" ng-disabled="loginForm.$invalid" />
	</form>
</body>
</html>

<!--
	https://medium.com/angularjs-meetup-south-london/angular-new-features-in-angular-1-4-b9b47077a8b2

-->